body {
  font-family: sans-serif;
  color: #222;
  background: #f2edda;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

header {
  /* border-bottom: 1px solid #222; */
  margin-bottom: 1rem;
}

footer {
  /* border-top: 1px solid #222; */
  margin-top: 1rem;
}

a {
  color: #2AA63E;
  text-decoration: none;
}

.nav-item li {
  padding: 0.2em;
}

/* I don't understand this well */
.nav-item li .active {
  background: white;
}

header .nav {
  /* test */
  /* background: blue; */
  /* padding: 1em; */
}

header .nav .nav-item {
  /* test */
  /* background: green; */
}

@media print {
  a {
    color: black;
  }
  header {
    display: none;
  }
  main {
    margin: 2em;
  }
}
